<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LeaveManagementModelContainer" 
         connectionString="metadata=res://*/LeaveManagementModel.csdl|res://*/LeaveManagementModel.ssdl|res://*/LeaveManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=LeaveManagement;user id=sa;password=sasa2015;multipleactiveresultsets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>